@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

body {
 background: url(/assets/img/Фон.jpg);
 color: #0f141e;
 background-size: 100%;

 font-size: 16px;
 font-weight: normal;
 font-family: 'Roboto', sans-serif;

}

a {
color: black;
text-decoration: underline;
margin-bottom: 30px;

}

a:hover {
text-decoration: underline;
}

a:active {
color: blue;
}

a:visited {
    color: gray;
}

.avatar {
    width: 180px;
    border-radius: 35px;
    box-shadow: 8px 8px 15px 4px rgba(0, 0, 0, 0.25);
}
.contener {
    max-width: 850px;
    margin: auto;
    padding-top: 30px;
    }

.info {
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    height: 250px;
}

@media (max-width: 750px) {
    .info {
        text-align: center;
        display: block;
    }
    }

.info p {
    margin: 5px;
}

.info-text {
    margin-left: 40px;
    margin-bottom: 40px;
}

/*.info-text a {
margin-bottom: 20px;
}*/

.info h2 {
    color: slategray;
    margin: 0;
        text-decoration: underline;
}
.info h3 {
    margin-bottom: 0;
}

/*.contact {
    background-color: red;
    padding: 10px 50px;
    margin: 5px;
}*/

.bg-blue {
    background: #93b8b7;
}
.bg-green {
    background: #98ccac;
}
.bg-greenyellow {
    background: #9cbd6b;
}
.bg-brown {
    background: #81815b;
}

.card {
    padding: 10px 30px;
   /* background: greenyellow;*/
   margin-top: 30px;
   margin-bottom: 20px;
   border-radius: 15px;
}

.card h2 {
    margin-bottom: 20px;
}

.list {
    padding: 0px 20px;
}

.list li {
    color: #2e2f30;
    margin-bottom: 10px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
        padding: 0 20px;
        line-height: 50px;
}

/*.nav-link {
    transition: .3s;
  }*/

 /* html {
    scroll-behavior: smooth; 
  }*/
  